/.vscode

/.qsys_edit
/db
/output_files
/incremental_db
/platform
/simulation

/software/tarea_1/obj
/software/tarea_1/mem_init
/software/tarea_1/tarea_1.elf
/software/tarea_1/tarea_1.map
/software/tarea_1/tarea_1.objdump

/software/tarea_1_bsp/obj
/software/tarea_1_bsp/libhal_bsp.a

**/*.sv.bak