/.vscode

/.qsys_edit
/db
/output_files
/incremental_db
/platform
/simulation

/software/timers/obj
/software/timers/mem_init
/software/timers/timers.elf
/software/timers/timers.map
/software/timers/timers.objdump

/software/timers_bsp/obj
/software/timers_bsp/libhal_bsp.a

**/*.sv.bak